/node_modules
/public/hot
app/Http/Controllers/installerController.php
app/Http/Controllers/itemInstaller.php
app/Http/Controllers/itemInstaller2.php
app/Http/Controllers/itemInstaller3.php
/public/storage
/storage/*.key
public/.well-known/
app_syncit_services/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
